.feynman__title {
    text-align: center;
    line-height: 1.2;
    font-size: 102px;
    font-weight: 600;
    width: 648px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    position: relative;
    z-index: 1;
  }