.video__iframe {
    width: 515px;
    height: 316px;
    margin-top: 0px;
    margin-bottom: -30px;
    margin-left: 0px;
    margin-right: 20px;
    display: flex;
    position: relative;
    z-index: 10;
    border: none;
}
.video__iframe:nth-of-type(2n) {
    margin-right: 0;
}